.main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  top: -35px;
  padding: 35px 15px 0px;
  border-radius: 25px 25px 0px 0px;
  background-color: $color-grey-background;

  &__header {
    display: flex;
    justify-content: space-between;

    & h1 {
      font-family: Shrikhand;
      font-size: 28px;
      font-weight: 400;
    }
  }

  &__container {
    &__title {
    }

    &__group {
      display: flex;
      align-items: center;
      overflow: hidden;
      margin-top: 10px;
      padding-left: 15px;
      box-sizing: border-box;

      &__txt {
        display: flex;
        flex: auto;
        flex-direction: column;
        gap: 5px;

        & h3 {
          font-size: 18px;
          font-weight: 500;
        }

        & h4 {
          font-size: 15.043px;
          font-weight: 300;
        }
      }

      &__end {
        position: relative;
        top: 12px;
        right: 15px;
        & h5 {
          color: $color-grey;
          font-size: 15.043px;
          font-weight: 700;
        }
      }

      .chek {
        // (_animation.scss)
      }
    }
  }
}
