.button--primary {
  border: none;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 90.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: White;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 18px;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 14px 0px 13px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo img {
  width: 200px;
  height: auto;
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 15.5px 0px 15.5px;
  width: 100%;
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header__location__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__location__txt h4 {
  font-weight: 500;
  color: rgb(53, 53, 53);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 35px;
  text-align: center;
  background-color: #f6f6f6;
  gap: 1rem;
}
.hero__title {
  margin-top: 39px;
}
.hero__subtitle h2 {
  color: rgb(53, 53, 53);
  font-weight: 300;
}
.hero__container {
  padding: 11px 0px 57px;
}
.hero__container__button {
  padding: 13px 19px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 26px;
  margin: 0px 20px 0px 10px;
}
.description__title {
  position: relative;
  left: 20px;
  width: 100%;
  padding-top: 48px;
}
.description__group {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.description__group__card {
  display: flex;
  align-items: center;
}
.description__group__card__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
  min-width: 24px;
  min-height: 24px;
  background-color: #9356dc;
  border-radius: 50%;
}
.description__group__card__number p {
  font-size: 14.182px;
  font-weight: 500;
  color: white;
}
.description__group__card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 29px;
  gap: 27px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.description__group__card__container__icon {
  color: rgb(126, 126, 126);
}
.description__group__card__container__icon--color {
  color: rgb(147, 86, 220);
}
.description__group__card__container__txt h4 {
  font-weight: 500;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 54px 18px 66px;
}
.nav__restaurant__group {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.nav__restaurant__group__card__img {
  position: relative;
  width: 100%;
}
.nav__restaurant__group__card__img img {
  height: 174px;
  width: 100%;
  object-fit: cover;
}
.nav__restaurant__group__card__img__txt {
  position: absolute;
  top: 13px;
  right: 12px;
  padding: 7px 9px;
  border-radius: 2px;
  background: #99e2d0;
}
.nav__restaurant__group__card__img__txt h5 {
  margin: 0;
  padding: 0;
  color: rgb(0, 135, 102);
  font-size: 14px;
  font-weight: 500;
}
.nav__restaurant__group__card__container {
  display: flex;
  justify-content: space-between;
}
.nav__restaurant__group__card__container__like {
  width: 22px;
  cursor: pointer;
}
.nav__restaurant__group__card__container__like svg {
  cursor: pointer;
  stroke: black;
}
.nav__restaurant__group__card__container__like svg:hover {
  fill: red;
}
.nav__restaurant__group__card__container__like svg:active {
  background-color: red;
}

/*# sourceMappingURL=restaurantAcceuil.css.map */
