.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
  animation: fadeOutWrapper 3s forwards;
  z-index: 1000;
}

.loader {
  width: 40px;
  height: 20px;
  --c: no-repeat radial-gradient(farthest-side, #9356dc 93%, #0000);
  background: var(--c) 0 0, var(--c) 50% 0;
  background-size: 8px 8px;
  position: relative;
  clip-path: inset(-200% -100% 0 0);
  animation: l6-0 1.5s linear infinite;
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  background: rgb(147, 86, 220);
}
.loader:before {
  width: 8px;
  height: 12px;
  left: -16px;
  top: 0;
  animation: l6-1 1.5s linear infinite, l6-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}
.loader:after {
  inset: 0 0 auto auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: l6-3 1.5s linear infinite;
}

@keyframes fadeOutWrapper {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes l6-0 {
  0%, 30% {
    background-position: 0 0, 50% 0;
  }
  33% {
    background-position: 0 100%, 50% 0;
  }
  41%, 63% {
    background-position: 0 0, 50% 0;
  }
  66% {
    background-position: 0 0, 50% 100%;
  }
  74%, 100% {
    background-position: 0 0, 50% 0;
  }
}
@keyframes l6-1 {
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(15px);
    left: calc(100% - 8px);
  }
}
@keyframes l6-2 {
  100% {
    top: -0.1px;
  }
}
@keyframes l6-3 {
  0%, 80%, 100% {
    transform: translate(0);
  }
  90% {
    transform: translate(26px);
  }
}
html {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.appearance-1 {
  opacity: 0;
  animation: appearance 1s ease-out forwards;
}

.appearance-2 {
  opacity: 0;
  animation: appearance 1.5s ease-out forwards;
}

.appearance-3 {
  opacity: 0;
  animation: appearance 2s ease-out forwards;
}

.chek {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: rgb(153, 226, 208);
  transition: width 0.5s ease;
}
.chek svg {
  display: none;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 15px;
  padding: 3px;
}
.chek svg path {
  fill: rgb(153, 226, 208);
}

.sectionMenu__container__group__card:hover .chek {
  width: 60px;
}

.sectionMenu__container__group__card:hover svg {
  display: block;
}

.button--primary {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  border: none;
  padding: 13px 19px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 90.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: filter 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.button--primary:hover {
  filter: brightness(120%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
}

.btn-heart {
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.btn-heart--outline {
  position: absolute;
  color: rgb(16, 16, 16);
  transition: color 0.3s, background 0.3s;
}

.btn-heart .btn-heart--solid {
  position: absolute;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 90.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 300ms;
}

.btn-heart:hover .btn-heart--solid {
  transform: scale(1);
}

.btn-heart:hover .btn-heart--outline {
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 90.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.badge-number {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  line-height: normal;
  background-color: rgb(147, 86, 220);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.icon--new::after {
  content: "Nouveau";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  top: 10px;
  right: 10px;
  border-radius: 2px;
  background-color: rgb(153, 226, 208);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 135, 102);
  font-style: normal;
  line-height: normal;
}

.subtitile-line::after {
  content: "";
  display: block;
  position: relative;
  top: 9px;
  width: 40px;
  height: 2px;
  background-color: rgb(153, 226, 208);
}

.card-home-first {
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  height: 72px;
}

.card-home-second {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  height: 250px;
}

.card-menu-shadow {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  height: 72px;
}

.card-menu-noShadow {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  height: 72px;
}

input::placeholder {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  line-height: normal;
}

input {
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  line-height: normal;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  line-height: normal;
}

.h2_menu {
  font-size: 28px;
  font-weight: 400;
  font-family: "Shrikhand", sans-serif;
  color: rgb(16, 16, 16);
  font-style: normal;
  line-height: normal;
}

.h3_home {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  line-height: normal;
}

.h3_menu {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  line-height: normal;
}

.h4_home {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  line-height: normal;
}

.h4_menu {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  line-height: normal;
}

.p_hero {
  font-size: 1.125rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
  font-style: normal;
  line-height: normal;
}

.p_section {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  line-height: normal;
}

.p_menu {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  line-height: normal;
}

.span_price {
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
  font-style: normal;
  line-height: normal;
}

.footer-title {
  font-size: 18px;
  font-weight: 400;
  font-family: "Shrikhand", sans-serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  line-height: normal;
}

.a-footer-first {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  line-height: normal;
}

.a-footer-second {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  font-style: normal;
  line-height: normal;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 22px 0px 22px;
  background-color: rgb(53, 53, 53);
  padding-left: 25px;
}
.footer__shareholder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__shareholder__container {
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer__shareholder__container i {
  font-size: 11px;
  display: inline-block;
  width: 11px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1440px) {
  .footer {
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
    gap: 16px;
    height: 84px;
    padding: 0px 25px 30px 25px;
  }
  .footer h4 {
    padding: 0px 35px;
  }
  .footer__shareholder {
    flex-direction: row;
  }
  .footer__link {
    flex-direction: row;
  }
}
.header-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 63px;
}
.header-home img {
  width: 200px;
  height: auto;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 63px;
}
.header-menu img {
  width: 200px;
  height: auto;
}
.header-menu a {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 17px;
}

@media (min-width: 1440px) {
  .header-home,
  .header-menu {
    height: 96px;
  }
}
.address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 15px 0px;
  background-color: rgb(246, 246, 246);
  box-shadow: inset 0 8px 4px -5px rgba(0, 0, 0, 0.15);
}
.address i {
  color: rgb(53, 53, 53);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 27px;
  text-align: center;
  padding: 45px 0px 60px;
  background-color: rgb(246, 246, 246);
  box-shadow: inset 0 10px 8px -5px rgba(0, 0, 0, 0.3);
}
.hero h2 {
  padding: 0px 65px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0px 70px;
}
.description h2 {
  width: 90%;
}
.description__group {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 90%;
}
.description__group__card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.description__group__card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.description__group__card__container i {
  color: rgb(126, 126, 126);
}
.description__group__card__container .i--color {
  color: rgb(147, 86, 220);
}
.description__group__card__number {
  position: relative;
  left: -10px;
}
.description__group__card__number span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 55px 0px 65px;
  background-color: rgb(246, 246, 246);
}
.sectionHome h2 {
  width: 90%;
}
.sectionHome__group {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 90%;
}
.sectionHome__group__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.sectionHome__group__card__img {
  position: relative;
  width: 100%;
}
.sectionHome__group__card__img img {
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.sectionHome__group__card__container {
  display: flex;
  justify-content: space-between;
  height: 77px;
}
.sectionHome__group__card__container__txt {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  padding-left: 13px;
}
.sectionHome__group__card__container__like {
  position: relative;
  right: 25px;
  top: 25px;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 1440px) {
  .description__group {
    flex-direction: row;
  }
  .sectionHome__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
/* Small devices (phones, less than 768px) */
.figure {
  margin: 0;
  width: 100%;
}
.figure img {
  width: 100%;
}

.sectionMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
  margin: auto;
  max-width: 1055px;
  margin-top: -35px;
  padding: 35px 15px 0px;
  border-radius: 25px 25px 0px 0px;
  background-color: rgb(246, 246, 246);
}
.sectionMenu__header {
  display: flex;
  justify-content: space-between;
}
.sectionMenu__header__like {
  position: relative;
  right: 25px;
  top: 5px;
}
.sectionMenu__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sectionMenu__container__title {
  padding-left: 15px;
}
.sectionMenu__container__group {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.sectionMenu__container__group__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}
.sectionMenu__container__group__card__txt {
  display: flex;
  flex: auto;
  gap: 5px;
  flex-direction: column;
  padding-left: 15px;
}
.sectionMenu__container__group__card__price {
  position: relative;
  right: 15px;
  top: 15px;
}

.btn_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  background-color: rgb(246, 246, 246);
}

@media (min-width: 1440px) {
  .sectionMenu__header {
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .sectionMenu__header__like {
    position: relative;
    top: 0;
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
