.header-home {
  @include header-style;
}

.header-menu {
  @include header-style;

  & a {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 17px;
    left: 17px;
  }
}
