.header-home {
  @include header-style;
}

.header-menu {
  @include header-style;

  & a {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 17px;
  }
}

@media (min-width: 1440px) {
  .header-home,
  .header-menu {
    height: 96px;
  }
}
