@import "../utils/mixins";

@mixin headerBase {
  .header {
    @include all-center;
    margin: 0;
    padding: 23px 0px 13px;

    img {
      width: 200px;
      height: auto;
    }
  }
}

@mixin header-Arrow {
  @include headerBase;

  .header {
    flex-direction: column;
    & a {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 17px;
      left: 17px;
    }
  }
}
