@import "../utils/mixins";
@import "../utils/variables";

.chek {
  @include all-center;
  width: 0;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: $color-line-menu;
  transition: width 0.5s ease;

  & svg {
    display: none;
    background-color: aliceblue;
    border-radius: 50%;
    width: 15px;
    padding: 3px;

    & path {
      fill: $color-line-menu;
    }
  }
}

.main__container__group:hover .chek {
  width: 60px;
}

.main__container__group:hover svg {
  display: block;
}
