//animation
@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.appearance-1 {
  opacity: 0;
  animation: appearance 1s ease-out forwards;
}

.appearance-2 {
  opacity: 0;
  animation: appearance 1.5s ease-out forwards;
}

.appearance-3 {
  opacity: 0;
  animation: appearance 2s ease-out forwards;
}

//animation cards menu
@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0px);
  }
}

.sectionMenu__container__group__card:hover .chek {
  animation: slide 0.5s ease-out forwards;
}

.sectionMenu__container__group__card:not(:hover) .chek {
  animation: slideOut 0.5s ease-out forwards;
}
