//animation
@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.appearance-1 {
  opacity: 0;
  animation: appearance 1s ease-out forwards;
}

.appearance-2 {
  opacity: 0;
  animation: appearance 1.5s ease-out forwards;
}

.appearance-3 {
  opacity: 0;
  animation: appearance 2s ease-out forwards;
}

//animation cards menu
.chek {
  @include all-center;
  width: 0;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: $color-background-subtil;
  transition: width 0.5s ease;

  & svg {
    display: none;
    background-color: $color-background-lightning;
    border-radius: 50%;
    width: 15px;
    padding: 3px;

    & path {
      fill: $color-background-subtil;
    }
  }
}

.sectionMenu__container__group__card:hover .chek {
  width: 60px;
}

.sectionMenu__container__group__card:hover svg {
  display: block;
}
