//badge "nouveau"
.badge-number {
  @include heading-style(14px, $font-weight-normal, null, $color-txt-tertiaire);
  background-color: $color-primary;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.icon--new::after {
  content: "Nouveau";
  position: absolute;
  @include all-center;
  padding: 0px 10px;
  top: 10px;
  right: 10px;
  @include cards-style(2px, $color-background-subtil, null, 30px);
  @include heading-style(
    14px,
    $font-weight-normal,
    null,
    $color-txt-quaternary
  );
}
