@mixin badge-purple {
  background-color: $color-purple;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

@mixin like {
  position: relative;
  height: 22px;
  width: 22px;
  top: 25px;
  right: 25px;

  & svg {
    position: absolute;
    width: 100%;
    height: 100%;

    .like {
      fill: transparent;
    }

    .like:hover {
      fill: red;
    }
  }
}
