@import "../../utils/mixins";
@import "../../utils/variables";
@import "../../components/badges";
@import "../../components/_cards.scss";

.description {
  @include all-center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0px 70px;

  & h1 {
    @include h1-title;
    width: 80%;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;

    &__card {
      @include all-center;

      &__number {
        @include all-center;

        & span {
          @include all-center;
          @include badge-purple;
          position: relative;
          left: 10px;
        }
      }

      &__container {
        @include card-main;
        display: flex;
        align-items: center;
        gap: 27px;
        padding: 0px 34px;
      }
    }
  }
}
